---

export interface Link {
  href?: string,
  text: string,
  children?: Link[]
}

const links: Link[] = Astro.props.links;
const className: string | string[] = Astro.props.className;
const isOpen = Astro.props.isOpen;
const currentPath = Astro.url.pathname;
const currentPathWithoutTrailingBackslash = currentPath.replace(/\/$/, '');

---

<ul class:list={[className]} class="lg:min-w-max">
  {links.map((link: Link) => (
    <li>
      {link.children ? (
        <details open={isOpen}>
          <summary>{link.text}</summary>
          <Astro.self links={link.children} isOpen={isOpen}/>
        </details>
      ) : (
        <a href={link.href} class:list={[{"underline": (currentPathWithoutTrailingBackslash === link.href)}, "decoration-primary"]}>{link.text}</a>
      )}
    </li>
  ))}
</ul>