---
import { Icon } from 'astro-icon/components'

interface URL {
  url: string;
  text: string;
}

interface ToolProps {
  title: string;
  slug: string;
  category: "library" | "cli-tool" | "application" | "service" | "other";
  contributors: string[] | string;
  tags: string[];
  website?: string;
  repo?: string;
  readMore: URL[];
}

const props = Astro.props.toolProps as ToolProps;

const html: string | null = Astro.props.html
---

<div class="card-bordered rounded border-base-content mb-4">
  <div class="card-body">
    <h3 class="card-title !mt-0" id={props.slug} class="anchor"><a href={"#" + props.slug} class="anchor-link">#</a>{props.title}</h3>
    <div class="flex justify-between">
      <div class="flex gap-3">
        <h4 class="subtitle">by {props.contributors}</h4>
      </div>
      <div class="flex gap-2">
        {props.website && <a href={props.website} title="Website"><Icon name="mdi:internet" size="1.5rem" /></a>}
        {props.repo && <a href={props.repo} title="Code Source"><Icon name="mdi:file-code-outline" size="1.5rem"/></a>}
      </div>
    </div>
    <div class="flex flex gap-2">
      {props.tags && props.tags.map((tag) => <div class="badge badge-ghost">{tag}</div>)}
    </div>
    <div>
      {html && <div set:html={html}></div>}
      {props.readMore && 
        <h4>Read more:</h4>
        <ul>
          {props.readMore.map((rmLink => 
            <li>
              <a href={rmLink.url}>
                {rmLink.text}
              </a>
            </li>
          ))}
        </ul>
      }
    </div>
  </div>
</div>